.app-layout {
  display: flex;
  margin-top: 70px;
  min-height: calc(100vh - 70px);
}

.main {
  flex: 1;
  margin-left: 260px;
  overflow-y: auto;
}

.full-width {
  width: 100%;
  margin-left: 0;
}
