.app-layout {
  display: flex;
  margin-top: 70px;
  min-height: calc(100vh - 70px);
}

.main {
  flex: 1;
  margin-left: 260px;
  transition: margin-left 0.3s ease;
}

.full-width {
  width: 100%;
  margin-left: 0;
}


.main.sidebar-collapsed {
  margin-left: 64px;
}

.main.full-width {
  margin-left: 0;
}
